{% extends 'shop/basic.html' %} {% block title %}Checkout{% endblock %} 
{% block addon-body %}

<div class="container" style="max-width: 65%">
  <div class="col my-3">
    <h1 class="text-justify">Step-1: My Awesome Cart- Review Items</h1>
    <hr />
    <ul class="list-group">
      {% comment %} <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Cras justo odio
        <span class="badge badge-primary badge-pill">14</span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Dapibus ac facilisis in
        <span class="badge badge-primary badge-pill">2</span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Morbi leo risus
        <span class="badge badge-primary badge-pill">1</span>
      </li> {% endcomment %}
    </ul>
  </div>
</div>

{% endblock addon-body %} {% block jss %}
<script>
  cart=localStorage.getItem('cart');
  console.log(cart);

  str="";
  for(var item in cart){
      str+="<li class='list-group-item d-flex justify-content-between align-items-center'>"+item+"<span class='badge badge-primary badge-pill'>"+cart[item][1]+"</span></li>";
  }
  document.getElementsByClassName('list-group').innerHTML=str;
  console.log(document.getElementsByClassName('list-group'))
</script>
{% endblock jss %}
